body {
    background:rgb(152, 152, 199);
    font-family: Arial, Helvetica, sans-serif;
}
.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background:rgb(132, 132, 177)
}

.assignment img{
    width:200px;
    padding: 10px;
}
h1{
    color:rgb(24, 55, 80);
    text-align:center;
}